body {
    background: white;
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    padding: 2em;
    font-size: 0.8em;
}

.container {
    width: 100%;
    max-width: 1200px;
}

.hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

section {
    margin: 2em 0;
}

h1 {
    font-weight: 300;
}

h3 {
    font-weight: 400;
}

p {
    margin: 0;
}

.icon {
    max-width: 40px;
    padding-bottom: 0.5em;
}

#interests {
    width: 25%;
    min-width: 150px;
}

@media all and (min-width: 750px) {
    .education,
    .interests {
        float: left;
        width: calc(100% / 2);
        padding-right: 2.5em;
        text-align: right;
    }
    .education h3,
    .education p {
        clear: both;
    }
    .education img {
        float: right;
    }
    .work,
    .skills {
        float: right;
        width: calc(100% / 2 - 2.5em);
    }
}

/* Skills Percentages */

.skillbar {
    position: relative;
    display: block;
    margin-bottom: 15px;
    width: 60%;
    background: #eeeeee;
    height: 1.8em;
    border-radius: 3px;
    transition: 0.4s linear;
    transition-property: width, background-color;
}

.skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 91%;
    font-weight: bold;
    font-size: 0.9em;
    color: #ffffff;
    background: #34495e;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#css {
    width: 88%;
}

#js {
    width: 60%;
}

#php {
    width: 50%;
}

#photoshop {
    width: 85%;
}

#illustrator {
    width: 80%;
}

.skillbar-title span {
    display: block;
    background: rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    height: 2em;
    line-height: 2em;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skillbar-bar {
    height: 2em;
    width: 0;
    background: #6adcfa;
    border-radius: 3px;
}

.skill-bar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 11px;
    height: 2em;
    line-height: 2em;
    color: #ffffff;
    color: rgba(0, 0, 0, 0.4);
}
