body {
    background: white;
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    padding: 2em;
    font-size: 0.8em;
}

.container {
    width: 100%;
    max-width: 1200px;
}

.hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

header {
    width: 100%;
    margin: auto;
    padding-bottom: 2em;
}

section {
    margin: 2em 0;
}

.contact {
    margin: auto;
    width: 100%;
}

.contact img {
    max-width: 50px;
}

.contact h4 {
    display: inline-block;
    margin-left: 1em;
}

.contact ul {
    margin: auto;
    width: 50%;
}

.contact li {
    display: inline;
    text-decoration: none;
    margin-left: 3em;
}

h1 {
    font-weight: 300;
}

h3 {
    font-weight: 400;
}

p {
    margin: 0;
}

.icon {
    max-width: 40px;
    margin-bottom: 1.5em;
    display: inline;
}

#interests {
    width: 50%;
    min-width: 150px;
    margin-top: 2em;
}

@media screen and (min-width: 750px) {
    #name {
        width: calc(100% / 3 * 2);
        margin: auto;
    }
    .container::after {
        content: '';
        width: 1px;
        position: absolute;
        left: calc(100% / 2 + 1.5em);
        background: black;
        height: 50em;
    }
    #interests {
        float: right;
    }
    .content {
        clear: both;
    }
    .education,
    .interests {
        float: left;
        width: calc(100% / 2);
        padding-right: 3em;
        text-align: right;
    }

    .education img,
    .interests img {
        margin-bottom: 1em;
        float: right;
    }
    .work,
    .skills {
        float: right;
        width: calc(100% / 2 - 3em);
    }
}

/* Skills Percentages */

.skillbar {
    position: relative;
    display: block;
    margin-bottom: 15px;
    width: 60%;
    background: #eeeeee;
    height: 1.8em;
    border-radius: 3px;
    transition: 0.4s linear;
    transition-property: width, background-color;
}

.skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 91%;
    font-weight: bold;
    font-size: 0.9em;
    color: #ffffff;
    background: #34495e;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#css {
    width: 88%;
}

#js {
    width: 60%;
}

#php {
    width: 50%;
}

#photoshop {
    width: 85%;
}

#illustrator {
    width: 80%;
}

.skillbar-title span {
    display: block;
    background: rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    height: 2em;
    line-height: 2em;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skillbar-bar {
    height: 2em;
    width: 0;
    background: #6adcfa;
    border-radius: 3px;
}

.skill-bar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 11px;
    height: 2em;
    line-height: 2em;
    color: #ffffff;
    color: rgba(0, 0, 0, 0.4);
}

/* tooltipster styling */

.tooltipster-shadow {
    border-radius: 5px;
    width: 50%;
    background-color: #ffffff;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
    color: #2c2c2c;
    height: 200px;
    z-index: 999;
    float: right;
}

.tooltipster-shadow .tooltipster-content {
    background-color: white;
    width: 100%;
    height: 200px;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 10px;
    z-index: 999;
}

@media (max-width: 715px) {
    .contact ul {
        margin: 0;
        width: 100%;
        padding: 0;
    }
    .icon {
        width: 100%;
        margin: auto;
        display: block;
        padding-bottom: 1em;
    }
    section {
        padding-bottom: 2em;
    }
    .content {
        width: 100%;
        margin: auto;
    }
    #interests {
        width: 100%;
    }
}
